@model ProjectsViewModel
@{
    var selectedUsersJson = "[]";
}


<div id="addProjectModal" class="modal">
    <div class="modal-content">
        <header class="modal-header">
            <h3>Add Project</h3>
            <button data-type="close" data-target="#addProjectModal" type="button" class="btn-close"></button>
        </header>
        <div class="modal-body">
            <form id="projectForm" novalidate method="post" data-name="project" asp-action="Add" asp-controller="Projects" enctype="multipart/form-data">


                <div class="form-group">
                    <label asp-for="AddProjectViewModel.ProjectName"></label>
                    <div class="field-group">
                        <input asp-for="AddProjectViewModel.ProjectName" />
                        <span asp-validation-for="AddProjectViewModel.ProjectName"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="AddProjectViewModel.ClientId"></label>
                    <select asp-for="AddProjectViewModel.ClientId" asp-items="Model.Clients"></select>
                </div>


                <div class="form-group">
                    <label asp-for="AddProjectViewModel.Description"></label>
                    <div class="wysiwyg-container">
                        <textarea asp-for="AddProjectViewModel.Description" class="hide"></textarea>
                        <div id="add-project-description-editor" class="wysiwyg-editor"></div>
                        <div id="add-project-description-toolbar" class="wysiwyg-toolbar">
                            <span class="ql-formats">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-align" value=""></button>
                                <button class="ql-align" value="center"></button>
                                <button class="ql-align" value="right"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-list" value="bullet"></button>
                                <button class="ql-list" value="ordered"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-link"></button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group date-group">
                    <div class="form-group-date">
                        <label asp-for="AddProjectViewModel.StartDate"></label>
                        <div class="field-group">
                            <input asp-for="AddProjectViewModel.StartDate" />
                            <span asp-validation-for="AddProjectViewModel.StartDate"></span>
                        </div>
                    </div>

                    <div class="form-group-date">
                        <label asp-for="AddProjectViewModel.EndDate"></label>
                        <div class="field-group">
                            <input asp-for="AddProjectViewModel.EndDate"  />
                            <span asp-validation-for="AddProjectViewModel.EndDate"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="AddProjectViewModel.Budget"></label>
                    <div class="field-group">
                        <input asp-for="AddProjectViewModel.Budget"/>
                        <span asp-validation-for="AddProjectViewModel.Budget"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="AddProjectViewModel.UserIds"></label>
                    <input type="hidden" asp-for="AddProjectViewModel.UserIds" />
                    <div id="tagged-users" class="form-input form-tag-select">
                        <input type="text" id="user-search" class="form-tag-input" placeholder="Add member..." />
                        <label for="user-search" class="fa-solid fa-ellipsis"></label>
                        <div id="user-search-results" class="search-results"></div>
                    </div>
                </div>

                <button type="submit" class="btn btn-blue btn-submit">Create</button>

            </form>
        </div>

    </div>
</div>


<script>

    const preSelectedUsers = @Html.Raw(selectedUsersJson);
    initWysiwygEditor('#add-project-description-editor', '#add-project-description-toolbar','#add-project-description', '@Html.Raw(Model?.AddProjectViewModel.Description ?? "")')
      initTagSelector({
        containerId: 'tagged-users',
        inputId: 'user-search',
        resultsId: 'user-search-results',
        searchUrl: (query) => '@Url.Action("SearchUsers", "Projects")' + '?term=' + encodeURIComponent(query), // TODO kom ihåg ändra till p-controller
        displayProperty: 'fullName',
        // imageProperty: 'imageUrl',
        imageProperty: '@Model!.AddProjectViewModel.Image',
        tagClass: 'user-tag',
        avatarFolder: '/images/profiles/',
        emptyMessage: 'No members found.',
        preSelected: preSelectedUsers,
        selectedInputIds: 'AddProjectViewModel_UserIds' // TODO kom ihåg nytt id
    })
</script>