@model ClientsViewModel
@{
    ViewData["Title"] = "Clients";
}

<section id="clients">
    <div class="section-header">
        <h1>@ViewData["Title"]</h1>
        <button type="button" data-type="modal" data-target="#addClientModal" class="btn btn-add"><span>Add Client</span></button>
    </div>

    <div class="clients">
        @foreach (var client in Model.Clients)
        {
            <div class="card client">
                <h4 class="name">@client.ClientName</h4>
            </div>
        }
    </div>
</section>


<partial name="Partials/Components/Modals/_AddClientModal" model="Model.AddClientViewModel" />
