@model UpdateProjectViewModel

@{

}


<div class="project-dropdown-container">
    <div class="project-dropdown-button" data-type="dropdown" data-target="#project-dropdown-@Model.Id">
        <i class="project-options-button-light fa-solid fa-ellipsis" style="color: #5a7085;"></i>
        <i class="project-options-button-dark fa-solid fa-ellipsis" style="color: #9e9e9e;"></i>
    </div>
    <div id="project-dropdown-@Model.Id" class="project-dropdown">
        <div class="project-dropdown-options-container">
            <div class="project-info" data-type="modal" data-target="#editProjectModal-@Model.Id">
                <div class="label">
                    <i class="fa-solid fa-pen"></i>
                    <span>Edit</span>
                </div>
            </div>

            <div class="dropdown-divider"></div>

            <div class="project-action" data-project-id="@Model.Id" onclick="handleDeleteProjectRequestFromElement(this)">
                <div class="label">
                    <i class="fa-duotone fa-solid fa-trash-can" style="--fa-primary-color: #ea5c39; --fa-primary-opacity: 1; --fa-secondary-color: #ea5c39; --fa-secondary-opacity: 0.4;"></i>
                    <span>Delete</span>
                </div>
            </div>
        </div>
    </div>
</div>




<partial name="Partials/Components/Modals/_EditProjectModal" model="Model" />
